<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Donate Food</title>
     <script src="jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/search.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href = "../css/style.css" rel = "stylesheet" type = "text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    
                        <div style="float:left;" id = "map"></div>
                        <div style="float:right;" class = "rand">
                            <form class="form-horizontal" role="form"  method="POST" action="realtime.html">
                                <center><h3>Place an Order</h3></center>

                              <div class="form-group">
                                <label for="email">Company Name:</label>
                                  <input type="text" class="form-control" id="email" name ="email" placeholder="Enter company name" size="20"><br>
                        
                                <label for="text">Pick Up Address:</label>
                                  <input type="text" class="form-control" id="address" placeholder="Enter company address" size = "20"><br>
                            

                   
                                <label for="text">Description of Item(s):</label>
                                  <input type="itemsdescr" class="form-control" id="pwd" placeholder="Enter description of item(s)" size = "20"><br>

                                  <button type="submit" class="btn btn-default" id = "placeOrder">Place Order</button>
                                  
                          
                              </div>

                            </form>

                            <div class = "output">
                                <div id ="outputname">
                                </div>
                                <div id = "outputaddress">
                                </div>
                            </div>
                            <div id = "currentLocation">

                            </div>
                            
                        </div>

   

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
   <script src="../js/bootstrap.min.js"></script>

<script src = "search.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?callback=Map_create&amp;sensor=true&amp;libraries=places,geometry"type = 'text/javascript' async defer>
</script>


</body>

</html>